:root {
  --midnight-green-color: #014E56;
  --light-coral-color: #f67e7e;

  --rapture-blue-color: #79C8C7;
  --police-group-color: #2C6269;
  --deep-jungle-blue-color: #004047;
  --sacramento-state-green: #012F34;
  --dark-green: #002529;
  --white: #ffff;

  --rapture-blue-color: #79C8C7;
  --police-group-color: #2C6269;
  --deep-jungle-blue-color: #004047;
  --sacramento-state-green: #012F34;
  --dark-green: #002529;
  --white: #ffff;
}


@font-face {
  font-family: 'Livvic';
  font-style: italic;
  font-weight: 400;
  src: local(''),
    url('../fonts/livvic-v13-latin-italic.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/livvic-v13-latin-italic.woff') format('woff');
}

/* livvic-600 - latin */
@font-face {
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 600;
  src: local(''),
    url('../fonts/livvic-v13-latin-600.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/livvic-v13-latin-600.woff') format('woff');
}

@font-face {
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 700;
  src: local(''),
    url('../fonts/livvic-v13-latin-700.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/livvic-v13-latin-700.woff') format('woff');

}


html {
  height: 100%;
  box-sizing: border-box;
}

img {
  display: block;
  height: auto;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Livvic", "Arial", sans-serif;
  font-weight: 600;
  overflow-x: hidden;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */

.container {
  max-width: 1150px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

.site-main {
  flex-grow: 1;
}

.build {
  padding: 140px 0;
  background-color: var(--sacramento-state-green);
}

.build__inner {
  display: flex;
}

.build__title-box {
  width: 445px;
  display: flex;
  flex-direction: column;
  margin-right: auto;
}

.build__title::before {
  position: absolute;
  top: -54px;
  width: 50px;
  height: 4px;
  background-color: var(--light-coral-color);
  content: "";
}

.build__decor {
  width: 50px;
  height: 4px;
  background: var(--light-coral-color);
}

.build__title {
  position: relative;
  margin-top: 0;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: #FFFFFF;
}

.build__list {
  position: relative;

  padding: 0;
  width: 540px;
  list-style: none;
}

.build__list::after {
  position: absolute;
  content: "";
  width: 200px;
  height: 244px;
  bottom: -140px;
  right: -265px;
  background-image: url(../images/Group.svg);
}

.build__item {
  position: relative;
  display: flex;
  padding-left: 95px;
}

.build__item:not(:last-child) {
  margin-bottom: 32px;
}

.build__item::before {
  position: absolute;
  content: "";
  margin-right: 23px;
  top: 0;
  left: 0;
  width: 72px;
  height: 72px;
  background-image: url(../images/induviduals.svg);
}

.build__item:nth-child(2):before {
  background-image: url(../images/implement.svg);
}

.build__item:nth-child(3):before {
  background-image: url(../images/productivity.svg);
}

.build__item-title {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: var(--light-coral-color);
}

.build__text {
  margin: 0;
  margin-top: 16px;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.8;
}

.site-header {
  padding: 73px 0;
  background-color: var(--midnight-green-color);
}

.site-header__box {
  display: flex;
  align-items: center;
}

.site-header__logo {
  margin-right: 80px;
}

.site-nav__list {
  display: flex;
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.site-nav__item:first-child {
  margin-right: 40px;
}

.site-nav__link,
.site-header__contact,
.footer-left__link {
  font-size: 18px;
  line-height: 28px;
  text-decoration: none;
  color: var(--white);
}

.site-nav__link:hover,
.footer-left__link:hover {
  color: var(--light-coral-color);
}

.site-header__contact {
  display: inline-block;
  margin-left: auto;
  padding: 9px 33px 10px 32px;
  border: 2px solid #FFFFFF;
  border-radius: 24px;
  transition: all 0.3s ease-in-out;
}

.site-header__contact:hover {
  color: var(--sacramento-state-green);
  background-color: var(--white);
  transition: all 0.3s ease-in-out;
}


.hero {
  padding-top: 56px;
  padding-bottom: 250px;
  background-color: var(--midnight-green-color);
  background-image: url("../images/hero-left.svg"), url("../images/hero-bottom.svg");
  background-repeat: no-repeat;
  background-position: calc(50% - 900px) +35px, calc(50% + 405px) calc(50% + 250px);
}

.hero-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.hero-title {
  margin: 0;
  font-weight: 700;
  font-size: 100px;
  line-height: 100px;
  color: #fff;

}

.hero-title__talent {
  color: var(--light-coral-color);
}

.hero-wrapper__left {
  width: 535px;
}

.hero-wrapper__right {
  position: relative;
  width: 445px;
}

.hero-wrapper__right::before {
  position: absolute;
  top: -80px;
  width: 50px;
  height: 4px;
  background-color: #79C8C7;
  content: "";
}





.hero-wrapper__text {
  margin: 0;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
}








.results {
  padding: 140px 0;
  background-color: var(--deep-jungle-blue-color);
}

.results__title {
  margin: 0 auto;
  margin-bottom: 56px;
  width: 932px;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  color: #FFFFFF;
}

.results__title-our {
  color: var(--rapture-blue-color);
}

.results__list {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.results__list::before {
  position: absolute;
  content: "";
  top: -293px;
  left: -165px;
  width: 147px;
  height: 100px;
  background-image: url(../images/bg-left.svg);
}

.results__list::after {
  position: absolute;
  content: "";
  right: -165px;
  bottom: -155px;
  width: 200px;
  height: 100px;
  background-image: url(../images/bg-right.svg);
}

.results__item {
  position: relative;
  width: 350px;
  padding: 36px 0 105px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.results__item::before {
  position: absolute;
  content: "";
  z-index: 1;
  top: 0;
  width: 67px;
  height: 56px;
  background-image: url(../images/“.svg);
  background-repeat: no-repeat;
}

.results__item::after {
  position: absolute;
  content: "";
  bottom: 0;
  width: 62px;
  height: 62px;
  background-image: url(../images/kady.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.results__item:nth-child(2):after {
  background-image: url(../images/aiysha.png);
}

.results__item:nth-child(3):after {
  background-image: url(../images/arthur.png);
}

.results__item:not(:last-child) {
  margin-right: auto;
}


.results__text {
  margin: 0;
  z-index: 2;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
}

.results__name {
  margin: 24px 0 2px;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #79C8C7;
}

.results__job {
  margin: 0;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
}


.ready {
  padding: 76px 0;
  background-color: var(--light-coral-color);
  background-image: url("../images/left-ready.png");
  background-repeat: no-repeat;
  background-position: calc(50% - 796px) calc(50% + 118px);
}

.ready-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ready__heading {
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: var(--sacramento-state-green);
}

.ready__contact {
  display: inline-block;
  padding: 9px 33px 11px 32px;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: var(--sacramento-state-green);
  border: 2px solid #012F34;
  border-radius: 24px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;

}

.ready__contact:hover {
  color: var(--white);
  background-color: var(--sacramento-state-green);
  transition: all 0.3s ease-in-out;
}


.site-footer {
  padding: 48px 0;
  background-color: var(--dark-green);
}

.site-footer-box {
  display: flex;
  align-items: center;
}

.site-footer__left {
  margin-right: 145px;
}

.footer-left__bottom {
  margin-top: 25px;
}

.footer-left__link {
  display: inline-block;
}

.footer-left__link:first-child {
  margin-right: 40px;
}

.site-footer__center {
  width: 170px;
}

.site-footer__text {
  margin: 0;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: var(--white);
  opacity: 0.6;
}

.site-footer__text a {
  /* display: inline-block; */
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: var(--white);
  text-decoration: none;
}

.site-footer__right {
  margin-left: auto;
  text-align: right;
}

.site-right-box {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 51px;
}

.site-right__link {
  text-decoration: none;
  color: #fff;
  transition: all 0.2s ease-in-out;
}

.site-right__link:not(:last-child) {
  margin-right: 16px;
}

.site-right__link:hover {
  color: var(--light-coral-color);
  transition: all 0.2s ease-in-out;
}

.site-right__text {
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  text-align: right;
  color: var(--white);
  opacity: 0.6;
}

.about {
  padding-top: 40px;
  padding-bottom: 140px;
  background-color: var(--midnight-green-color);
  background-image: url("../images/about-right.svg");
  background-repeat: no-repeat;
  background-position: calc(50% + 895px) calc(50% + 65px);
}

.about-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-title {
  margin: 0;
  font-weight: 700;
  font-size: 64px;
  line-height: 100px;
  color: var(--white);
}

.about-wrapper__right {
  position: relative;
  width: 690px;
}

.about-wrapper__right::before {
  position: absolute;
  top: -40px;
  width: 50px;
  height: 4px;
  background-color: var(--light-coral-color);
  content: "";
}

.about-wrapper__text {
  font-size: 18px;
  line-height: 28px;
  color: var(--white);
}

.client {
  padding: 140px 0;
  background-color: var(--sacramento-state-green);
  background-image: url("../images/clients-right.svg");
  background-repeat: no-repeat;
}

.client_heading {
  margin-bottom: 70px;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  color: var(--white)
}

.client-box{
  display: flex;
  justify-content: space-between;
}